.tag {
  position: relative;
  border: pxrem(1px) solid var(--theme-border);
  border-radius: pxrem(50px);
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-1) var(--spacing-4);
  background-color: var(--theme-accent-tint-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-1);
  color: var(--theme-foreground-tint);
  text-decoration: none;

  &:hover {
    background-color: var(--theme-accent-tint);
    color: var(--theme-foreground-tint);
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: var(--spacing-1);
    height: var(--spacing-1);
    top: calc(50% - var(--spacing-1) / 2);
    left: var(--spacing-2);
    border-radius: var(--spacing-2);
    background: var(--theme-accent);
  }
}
