.wrapper {
  background: var(--theme-accent-tint-2);
  border: pxrem(1px) solid var(--theme-accent-tint);
  border-radius: var(--radius-2);
  color: var(--theme-foreground);
  padding: var(--spacing-3) pxrem(14px);
  box-shadow: var(--box-shadow-default);

  @media (--l) {
    padding: var(--spacing-6) pxrem(50px);
  }
}

:global(.dark) .wrapper {
  background: var(--theme-background-tint);
  border: pxrem(1px) solid var(--theme-accent-tint);
  color: var(--theme-foreground);
}

.content {
  grid-column: content;

  p:last-of-type {
    margin-bottom: 0;
  }
}
