.wrapper {
  padding: var(--spacing-5) 0;
}

.screenReaderHeading {
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
}

.list {
  display: flex;
  gap: var(--spacing-2);
  list-style: none;
  padding: 0;
  justify-content: center;
}

.listItem {
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border: pxrem(1px) solid #ccc;
  height: var(--spacing-7);

  border-radius: var(--radius-1);

  &:hover {
    background-color: var(--theme-accent);
    color: var(--theme-background);
    border: var(--theme-accent) pxrem(1px) solid;
  }
}

.linkNumber {
  aspect-ratio: 1;
}

.linkPrev,
.linkNext {
  padding: 0 var(--spacing-3);
}

.linkActive {
  background-color: var(--theme-foreground);
  color: var(--theme-background);
  border: var(--theme-foreground) pxrem(1px) solid;
}

.linkDisabled {
  pointer-events: none;
  background: var(--theme-background);
  color: var(--theme-foreground);
  border: var(--theme-border) pxrem(1px) solid;
}
