.wrapper {
  display: flex;
  justify-content: space-between;

  @media (--m) {
    display: block;
  }
}

.metaItem {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-3);
  line-height: 1;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-1);
}

.metaIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: pxrem(20px);
  margin-right: var(--spacing-2);

  path,
  shape {
    stroke: var(--theme-accent);
    stroke-width: 1.6;
  }
}

.metaItemTitle {
  margin-right: var(--spacing-1);

  @media (--l) {
    display: block;
  }
}

.metaItemValue {
  color: var(--theme-foreground);
}
