.wrapper {
  display: none;
  background-color: var(--theme-background);
  padding: var(--spacing-5);
  height: 100dvh;
  border-top: pxrem(1px) solid var(--theme-background-tint);
}

.wrapperOpen {
  display: block;

  @media (--m) {
    display: none;
  }
}

.inner {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: var(--spacing-7) var(--spacing-6);
  height: 85%;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin-bottom: var(--spacing-5);
}
