.wrapper {
  display: none;
  background-color: var(--theme-background);
  padding: var(--spacing-5);
  height: 90vh;
}

.wrapperOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-7) var(--spacing-8);
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin-bottom: var(--spacing-5);
}
