# Added by Payload

PAYLOAD_SECRET=xxx
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
DATABASE_URL=mongodb://127.0.0.1:27017
MONGO_ATLAS_DB_USER=xxx
MONGO_ATLAS_DB_PASS=xxx
BLOB_READ_WRITE_TOKEN=xxx
UPLOADTHING_TOKEN='xxx'
BLUESKY_IDENTIFIER=xxx.bsky.social
BLUESKY_APP_PASSWORD=xxx