# By default Postgres has a user 'postgres'
DATABASE_URL=postgresql://<DB_NAME>:<PASSWORD>@<SERVER IP>:<PORT>/
PAYLOAD_SECRET=<PAYLOAD_SECRET_HERE>
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>