.wrapper {
}

.title {
  font-size: var(--font-size-6);
  letter-spacing: -0.07em;
  grid-column: 1 / 5;
  margin-bottom: var(--spacing-5);
  padding-bottom: var(--spacing-2);
  border-bottom: pxrem(1px) solid var(--theme-background-tint);

  @media (--l) {
    font-size: var(--font-size-9);
    margin-bottom: var(--spacing-7);
  }
}

.description {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-extra-bold);
  color: var(--theme-foreground);
  letter-spacing: -0.05em;
  max-width: pxrem(700px);
  margin-bottom: var(--spacing-5);

  @media (--l) {
    font-size: var(--font-size-7);
    margin-bottom: var(--spacing-7);
  }
}
