.wireframeBox {
  background-image: linear-gradient(
    135deg,
    var(--theme-border) 5%,
    #ffffff 5%,
    #ffffff 50%,
    var(--theme-border) 50%,
    var(--theme-border) 55%,
    #ffffff 55%,
    #ffffff 100%
  );
  background-size: 14.14px 14.14px;
  border: 1px solid var(--theme-border);
  padding: var(--spacing-4);
}
