.containerPadded {
  padding: var(--spacing-5) 0;
}

.title {
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: var(--spacing-3);
  column-gap: var(--spacing-1);
}
