.title {
  display: none;
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-3);
  color: var(--theme-foreground-tint);

  @media (--l) {
    display: block;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: var(--spacing-3);
  column-gap: var(--spacing-1);
}
