.title {
  text-align: center;
  font-size: var(--font-size-8);
  margin-bottom: var(--spacing-5);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--spacing-3);
  column-gap: var(--spacing-1);
}
