.wrapper {
}

.inner {
  @media (--l) {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-5);
  }
}

.profile {
  margin-bottom: var(--spacing-3);
}

.image {
  width: pxrem(90px);
  aspect-ratio: 8 / 9;
  display: inline-block;
  border-radius: var(--radius-2);
  border: pxrem(6px) solid var(--theme-accent);
  overflow: hidden;
  transform: rotate(-5deg);

  img {
    display: block;
    object-fit: cover;
    transform: rotate(5deg) scale(1.2);
    transform-origin: center center;
  }

  @media (--l) {
    border-radius: var(--radius-4);
    border: pxrem(20px) solid var(--theme-accent);
    width: pxrem(380px);
  }
}

.content {
  @media (--l) {
    max-width: pxrem(800px);
  }
}

.wysiwyg {
  p {
    @media (--l) {
      font-size: var(--font-size-5);
    }
  }
}
