.wrapper {
  padding: pxrem(30) 0;

  @media (--l) {
    padding: pxrem(100) 0;
  }
}

.inner {
  @media (--m) {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-5);
  }
}

.profile {
  margin-bottom: var(--spacing-3);
}

.image {
  width: pxrem(90px);
  aspect-ratio: 8 / 9;
  display: inline-block;
  border-radius: var(--radius-2);
  border: pxrem(6px) solid var(--theme-accent);
  overflow: hidden;
  transform: rotate(-5deg);

  img {
    display: block;
    object-fit: cover;
    transform: rotate(5deg) scale(1.2);
    transform-origin: center center;
  }

  @media (--m) {
    border-radius: var(--radius-3);
    border: pxrem(12px) solid var(--theme-accent);
    width: pxrem(200px);
  }

  @media (--xl) {
    border-radius: var(--radius-4);
    border: pxrem(20px) solid var(--theme-accent);
    width: pxrem(380px);
  }
}

.content {
  @media (--l) {
    max-width: pxrem(800px);
  }
}

.title {
  font-size: var(--font-size-7);
  letter-spacing: -0.07em;
  grid-column: 1 / 5;
  margin-bottom: var(--spacing-5);

  @media (--l) {
    font-size: var(--font-size-9);
    margin-bottom: var(--spacing-7);
  }
}

.description {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-extra-bold);
  color: var(--theme-foreground);
  letter-spacing: -0.05em;
  max-width: pxrem(880px);
  margin-bottom: var(--spacing-5);

  @media (--l) {
    font-size: var(--font-size-8);
    margin-bottom: var(--spacing-7);
  }
}

.wysiwyg {
  p {
    @media (--l) {
      font-size: var(--font-size-5);
    }
  }
}
