.container {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: var(--content-grid-columns);

  @media (--l) {
    grid-template-columns: var(--content-grid-columns-large);
  }

  > * {
    grid-column: content;
  }
}

.item {
  grid-column: wide;

  @media (--l) {
    grid-column: content;
  }
}

.item--full {
  grid-column: full;
}

.item--wide {
  grid-column: wide;
}

.item--sidebar-before {
  grid-column: sidebar-before;
}

.item--sidebar-after {
  grid-column: sidebar-after;
}

.grid--debug {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px dashed #b7a072;
  pointer-events: none;
}

.item--debug {
  border-left: 1px dashed #b7a072;
  grid-column: span 1;

  &:first-child {
    border-left: 0;
  }
}
