.container {
  position: relative;
  /*display: grid;

  grid-template-columns:
    minmax(0, auto)
    clamp(pxrem(800px), 80%, pxrem(1330px))
    minmax(0, auto);*/
}

.grid {
  display: grid;
  width: 100%;

  grid-template-columns:
    4%
    pxrem(100px)
    minmax(0, auto)
    pxrem(100px)
    4%;

  @media (--m) {
    grid-template-columns:
      5%
      pxrem(100px)
      minmax(0, auto)
      pxrem(100px)
      5%;

    row-gap: var(--spacing-6);
  }

  @media (--l) {
    grid-template-columns:
      minmax(5%, auto)
      pxrem(100px)
      minmax(400px, 850px)
      pxrem(100px)
      minmax(5%, auto);

    row-gap: var(--spacing-6);
  }

  @media (--xl) {
    grid-template-columns:
      minmax(5%, auto)
      pxrem(220px)
      minmax(400px, 850px)
      pxrem(220px)
      minmax(5%, auto);

    row-gap: var(--spacing-6);
  }
}

.item {
  grid-column: 2 / 5;

  @media (--m) {
    grid-column: 2 / 5;
  }
}

.item--full {
  grid-column: 1 / -1;
}

.item--narrow {
  grid-column: 2 / 6;

  @media (--m) {
    grid-column: 3 / 4;
  }
}

.grid--debug {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px dashed #b7a072;
  pointer-events: none;
}

.item--debug {
  border-left: 1px dashed #b7a072;
  grid-column: span 1;

  &:first-child {
    border-left: 0;
  }
}
