.wrapper {
  padding: var(--spacing-6) 0;

  @media (--m) {
    padding: var(--spacing-7) 0;
  }

  @media (--l) {
    padding: var(--spacing-9) 0;
  }
}

.content {
}

.title {
  font-size: clamp(var(--font-size-3), 6vw, var(--font-size-10));
  letter-spacing: -0.07em;
  grid-column: 1 / 5;
  margin-bottom: var(--spacing-5);
}

.description {
  font-size: clamp(var(--font-size-2), 3vw, var(--font-size-6));
  color: var(--theme-text);
  letter-spacing: -0.05em;
  max-width: pxrem(880px);
}
