.wrapper {
  background-color: var(--theme-accent);
  color: var(--theme-background-tint);
  padding: var(--spacing-6) 0 var(--spacing-8) 0;
  margin-bottom: pxrem(-160px);

  @media (--m) {
    padding: var(--spacing-7) 0 var(--spacing-8) 0;
    margin-bottom: pxrem(-160px);
  }

  @media (--l) {
    padding: var(--spacing-9) 0 pxrem(200px) 0;
    margin-bottom: pxrem(-160px);
  }
}

.content {
}

.title {
  font-size: clamp(var(--font-size-3), 6vw, var(--font-size-10));
  letter-spacing: -0.07em;

  grid-column: 1 / 5;
  margin-bottom: var(--spacing-5);
}

.description {
  font-size: clamp(var(--font-size-2), 3vw, var(--font-size-6));
  color: var(--theme-text-tint);
  letter-spacing: -0.05em;
  margin-bottom: var(--spacing-3);
  color: var(--theme-background-tint);
}
