html {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: var(--font-weight-medium);
	font-style: normal;
	line-height: 1.3;
	letter-spacing: -0.08rem;
	background-color: var(--theme-background);
	color: var(--theme-text);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: 1px solid hotpink;
	padding: 0 var(--spacing-3);
}

/**
 * Developer bar (only runs locally)
 */
.dev:before {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: var(--theme-primary);
	color: var(--theme-background);
	font-family: monospace;
	letter-spacing: 0;
	padding: var(--spacing-1);
	content: "Breakpoint: default (smallest)";

	@media (--s) {
		content: "Breakpoint: @custom-query (--s)";
	}

	@media (--m) {
		content: "Breakpoint: @custom-query (--m)";
	}

	@media (--l) {
		content: "Breakpoint: @custom-query (--l)";
	}

	@media (--xl) {
		content: "Breakpoint: @custom-query (--xl)";
	}
}

img {
	max-width: 100%;
}
