html {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-medium);
  font-style: normal;
  line-height: 1.3;
  color: var(--theme-text);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*width: 90%;
  max-width: pxrem(1500px);*/
  /*margin: 0 auto;*/
  /*padding-bottom: pxrem(400px); */
}

/**
 * Storybook overrides (
 */

body.sb-show-main.sb-main-padded,
body.sb-show-main.sb-main-centered {
  margin: 0 auto;
}

/**
 * make autodocs narrower
 */

.sbdocs > p {
  max-width: pxrem(700px);
}

/**
 * Images
 */

img {
  max-width: 100%;
  height: auto;
}

.dev {
  position: relative;
  padding-top: pxrem(24px);
}
/**
 * Developer bar (only runs locally)
 */
.dev:before {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--theme-accent);
  color: var(--theme-background);
  font-family: monospace;
  box-shadow: 0 pxrem(2px) pxrem(4px) 0 rgba(0, 0, 0, 0.25);

  padding: var(--spacing-1);
  content: 'Breakpoint: default (smallest)';

  @media (--s) {
    content: 'Breakpoint: @custom-query (--s)';
  }

  @media (--m) {
    content: 'Breakpoint: @custom-query (--m)';
  }

  @media (--l) {
    content: 'Breakpoint: @custom-query (--l)';
  }

  @media (--xl) {
    content: 'Breakpoint: @custom-query (--xl)';
  }
}

img {
  max-width: 100%;
}
