html {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	background-color: var(--theme-background);
	color: var(--theme-text);
}

a {
	color: var(--theme-link);
}
