h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-4);
  color: var(--theme-accent);
  letter-spacing: -0.03em;
  line-height: 1.2;
}

h1 {
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: -0.05em;
}

h2 {
  font-size: var(--font-size-4);

  @media (--m) {
    font-size: var(--font-size-6);
  }

  @media (--xl) {
    font-size: var(--font-size-7);
  }
}

h3 {
  font-size: var(--font-size-3);

  @media (--m) {
    font-size: var(--font-size-5);
  }

  @media (--xl) {
    font-size: var(--font-size-6);
  }
}

h4 {
  font-size: var(--font-size-2);

  @media (--m) {
    font-size: var(--font-size-4);
  }

  @media (--xl) {
    font-size: var(--font-size-5);
  }
}

h5 {
  font-size: var(--font-size-1);

  @media (--m) {
    font-size: var(--font-size-2);
  }

  @media (--xl) {
    font-size: var(--font-size-3);
  }
}

p,
ul,
ol,
blockquote {
  font-size: var(--font-size-2);
  letter-spacing: -0.03em;

  @media (--m) {
    font-size: var(--font-size-3);
  }

  @media (--l) {
    font-size: var(--font-size-4);
  }
}

a {
  color: var(--theme-link);
}
