.wrapper {
  background-color: var(--theme-accent);
  padding: var(--spacing-5) 0;

  @media (--l) {
    padding: var(--spacing-9) 0;
  }
}

.title {
  font-weight: var(--font-weight-medium);
  color: var(--theme-accent-tint-2);
  margin-bottom: var(--spacing-5);

  @media (--l) {
    margin-bottom: var(--spacing-8);
  }

  em {
    font-style: normal;
    color: white;
  }
}

.posts {
  margin-bottom: var(--spacing-5);

  @media (--l) {
    margin-bottom: var(--spacing-8);
  }
}

.buttonWrapper {
}
