.wrapper {
  background-color: var(--theme-accent);
  padding: var(--spacing-5) 0;

  @media (--l) {
    padding: var(--spacing-9) 0;
  }
}

.title {
  font-weight: var(--font-weight-medium);
  color: var(--theme-accent-tint-2);
  margin-bottom: var(--spacing-5);

  @media (--l) {
    margin-bottom: var(--spacing-8);
  }

  em {
    font-style: normal;
    color: white;
  }
}

.posts {
  margin-bottom: var(--spacing-5);

  @media (--l) {
    margin-bottom: var(--spacing-8);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  border-radius: var(--radius-1);
  background-color: var(--theme-background-tint);
  height: 100%;
  padding: var(--spacing-5);
}

.cardSecondary {
  background-color: var(--theme-accent-tint);
  color: white;

  .metaIcon {
    color: var(---theme-background-tint);
  }

  .displayName {
    color: white;
  }
}

.cardTertiary {
  background-color: var(--theme-foreground);
  color: white;
}

.avatar {
  display: flex;
  gap: var(--spacing-2);

  img {
    width: pxrem(40px);
    border-radius: 50%;
  }
}

.displayName {
  display: block;
  font-weight: var(--font-weight-bold);
  color: var(--theme-accent);
}

.handle {
  display: block;
  font-size: var(--font-size-1);
  color: var(--theme-text-secondary);
}

.content {
  margin-bottom: var(--spacing-3);
}

.footer {
  display: flex;
  border-top: pxrem(1px) solid var(--theme-border);
  gap: var(--spacing-3);
  margin-top: auto;
}

.metaItem {
  display: flex;
}

.metaIcon {
  color: var(--theme-accent);
  margin-right: var(--spacing-1);
  width: pxrem(20px);
}

.count {
  font-size: var(--font-size-1);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
