:root {
	/**
    * @tokens Border Radius
    * @presenter BorderRadius
     */
	--radius-1: pxrem(10px);
	--radius-2: pxrem(15px);
	--radius-3: pxrem(20px);
	--radius-4: pxrem(30px);
	--radius-5: pxrem(40px);
}
