:root {
	--theme-primary: #222b2e;
	--theme-secondary: #585b5c;
	--theme-text: var(--theme-primary);
	--theme-text-tint: #7c868a;
	--theme-link: var(--theme-primary);
	--theme-background: #fafafc;
	--theme-border: var(--theme-secondary);
}

:root.dark {
	--theme-primary: #fafafc;
	--theme-text: #fafafc;
	--theme-text-tint: #8ba498;
	--theme-link: var(--theme-primary);
	--theme-background: #222b2e;
	--theme-border: #374435;
}
