:root {
  /**
    * @tokens Font Sizes
    * @presenter FontSize
    */
  --font-size-1: 0.875rem; /* 14px */
  --font-size-2: 1rem; /* 16px */
  --font-size-3: 1.125rem; /* 18px */
  --font-size-4: 1.25rem; /* 20px */
  --font-size-5: 1.5625rem; /* 25px */
  --font-size-6: 1.875rem; /* 30px */
  --font-size-7: 2.3125rem; /* 37px */
  --font-size-8: 3rem; /* 48px */
  --font-size-9: 4.375rem; /* 70px */

  /**
    * @tokens Font Weights
    * @presenter FontWeight
    */
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
}
