:root {
	--font-size-1: 0.694rem;
	--font-size-2: 0.833rem;
	--font-size-3: 1rem;
	--font-size-4: 1.2rem;
	--font-size-5: 1.44rem;
	--font-size-6: 1.728rem;
	--font-size-7: 2.074rem;
	--font-size-8: 2.488rem;
	--font-size-9: 2.986rem;

	--font-weight-light: 300;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}
