.prose {
  grid-column: full;
  line-height: 1.6;
  color: var(--theme-foreground);
  display: grid;
  grid-template-columns: subgrid;

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > table,
  > blockquote,
  > hr {
    grid-column: full;

    @media (--m) {
      grid-column: content;
    }
  }

  p,
  ul,
  ol {
    margin-bottom: var(--spacing-5);
  }

  ul,
  ol {
    padding-left: var(--spacing-6);
  }

  ul ul,
  ol ul,
  ul ol {
    margin: 0;
    padding-left: var(--spacing-5);
  }

  ul ul li,
  ol ul li {
    list-style-type: disc;
  }

  li {
    /*margin: var(--spacing-2) 0;*/
  }

  li::marker {
    color: var(--theme-accent);
  }

  :is(p, ol, ul, :global(.block-layout-full)) + :is(h2) {
    margin-top: var(--spacing-6);
  }

  :is(p, ol, ul, :global(.block-layout-full))
    + :is(h2, h3, h4, h5, h6, :global(.block-layout-full)) {
    margin-top: var(--spacing-5);
  }

  a {
    color: var(--theme-accent);
  }

  a:hover {
    text-decoration: none;
  }

  hr {
    border: none;
    border-top: pxrem(1px) solid #ddd;
    margin: var(--spacing-5) 0 var(--spacing-6) 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    border-bottom: 1px solid var(--theme-background-tint);
    text-align: left;
    padding: var(--spacing-1);
  }

  th {
    font-weight: var(--font-weight-medium);
    color: var(--theme-secondary);
  }

  :not(pre) > code {
    display: inline-block; /* Prevents line-breaking artifacts */
    background-color: rgb(250, 250, 250);
    padding: var(--spacing-1) var(--spacing-2);
    border: pxrem(1px) solid var(--theme-accent-tint);
    border-radius: var(--radius-1);
    color: var(--theme-accent);
    font-size: var(--font-size-1);
    white-space: nowrap;
    line-height: 1;

    @media (--m) {
      font-size: var(--font-size-2);
    }
  }

  blockquote {
    position: relative;
    padding: var(--spacing-2) 0 var(--spacing-2) var(--spacing-5);
    margin-bottom: var(--spacing-5);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--spacing-1);
      background-color: var(--theme-accent-tint);
    }
  }
}

/*:global(.dark) .prose :not(pre) > code {
  background-color: var(--theme-foreground);
}*/

.prosePadded {
  padding: var(--spacing-8) 0;
}
