.prose {
  line-height: 1.7;
  color: var(--theme-text);

  display: grid;
  grid-template-columns: 0 minmax(0, auto) 0;

  @media (--m) {
    grid-template-columns: pxrem(100px) minmax(0, auto) pxrem(100px);
  }

  @media (--l) {
    grid-template-columns: pxrem(100px) minmax(400px, 850px) pxrem(100px);
  }

  @media (--xl) {
    grid-template-columns: pxrem(220px) minmax(400px, 850px) pxrem(220px);
  }

  > * {
    grid-column: 2 / 3;
  }

  p,
  ul,
  ol {
    margin-bottom: var(--spacing-5);
  }

  ul,
  ol {
    padding-left: var(--spacing-6);
  }

  ul ul,
  ol ul,
  ul ol {
    margin: 0;
    padding-left: var(--spacing-5);
  }

  ul ul li,
  ol ul li {
    list-style-type: disc;
  }

  li {
    margin: var(--spacing-2) 0;
  }

  li::marker {
    color: var(--theme-accent);
  }

  :is(p, ol, ul, :global(.block-layout-full))
    + :is(h2, h3, h4, h5, h6, :global(.block-layout-full)) {
    margin-top: var(--spacing-6);
  }

  a {
    color: var(--theme-accent);
  }

  a:hover {
    color: var(--theme-accent-tint-2);
    text-decoration: underline;
    /*text-decoration-color: var(--theme-accent-tint-2);*/
  }

  hr {
    border: none;
    border-top: pxrem(1px) solid var(--theme-primary);
    margin: var(--spacing-7) 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    border-bottom: 1px solid var(--theme-border);
    text-align: left;
    padding: var(--spacing-1);
  }

  th {
    font-weight: var(--font-weight-medium);
    color: var(--theme-secondary);
  }

  > :global(.block-layout-full) {
    grid-column: 1 / -1;
    margin-bottom: var(--spacing-5);
  }
}

.prosePadded {
  padding: var(--spacing-8) 0;
}
