.wrapper {
  border-bottom: pxrem(1px) solid var(--theme-background-tint);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-7);
  padding: var(--spacing-3) 0;

  @media (--m) {
    padding: var(--spacing-4) 0;
  }
}

.logo {
  width: pxrem(30px);
  margin-right: auto;

  @media (--m) {
    width: pxrem(40px);
  }
}

.nav {
  display: none;

  @media (--m) {
    display: block;
  }
}

.social {
  display: none;
  @media (--m) {
    display: block;
  }
}

.mobileNavButton {
  @media (--m) {
    display: none;
  }
}

.theme-toggle {
  display: none;
}
