.wrapper {
  border-bottom: pxrem(1px) solid var(--theme-accent-tint-2);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-3) 0;

  @media (--m) {
    padding: var(--spacing-5) 0;
  }
}

.logo {
  width: pxrem(30);

  @media (--m) {
    width: pxrem(50);
  }
}

.nav {
  display: none;

  @media (--m) {
    display: block;
  }
}

.social {
  display: none;
  @media (--m) {
    display: block;
    margin-right: var(--spacing-6);
  }
}

.mobileNavButton {
  @media (--m) {
    display: none;
  }
}

.theme-toggle {
  display: none;
}
