.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-3) 0;

  @media (--m) {
    padding: var(--spacing-4) 0;
  }
}

.logo {
  width: pxrem(50);

  @media (--m) {
    width: pxrem(100);
  }
}

.nav {
  display: none;

  @media (--m) {
    display: block;
    margin-left: auto;
    margin-right: var(--spacing-6);
  }
}

.social {
  display: none;
  @media (--m) {
    display: block;
    margin-right: var(--spacing-6);
  }
}

.theme-toggle {
}
