.grid-layout {
	display: grid;
	width: 100%;
	grid-template-columns: var(--spacing-7) auto clamp(400px, 80%, 850px) auto var(--spacing-7);
}

.grid-layout__item {
	grid-column: 2 / 5;
}

.grid-layout__item--full {
	grid-column: 1 / -1;
}

.grid-layout__item--narrow {
	grid-column: 3 / 3;
}
