.card-article {
	width: 100%;
}

.card-article__figure {
	position: relative;
	aspect-ratio: 16/9;
	border-radius: var(--radius-2);
	margin-bottom: var(--spacing-5);
	overflow: hidden;
	background-color: var(--theme-background-tint);
	border: pxrem(1px) solid var(--theme-border);
}

.card-article__date {
	display: block;
	margin-bottom: var(--spacing-5);
}

.card-article__title {
	font-size: clamp(var(--font-size-4), 3vw, var(--font-size-6));
	font-weight: var(--font-weight-extra-bold);
}

.card-article__link {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.card-article__description {
	font-size: clamp(var(--font-size-2), 2vw, var(--font-size-3));
	margin-bottom: var(--spacing-5);
}
