.container {
  border-radius: var(--radius-1);
}

.figure {
  position: relative;
  aspect-ratio: 16/9;
  background-color: var(--theme-background-tint);

  img {
    overflow: hidden;
  }
}

.content {
  padding: var(--spacing-5) 0;
}

.date {
  display: block;
  margin-bottom: var(--spacing-3);
}

.title {
  font-size: clamp(var(--font-size-3), 3vw, var(--font-size-5));
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.05em;
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.description {
  font-size: clamp(var(--font-size-2), 1vw, var(--font-size-3));
  margin-top: var(--spacing-5);
}
