.nav {
  color: var(--theme-foreground);
}

.list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  column-gap: var(--spacing-3);
  padding: 0;
}

.listWide {
  justify-content: space-between;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
  transition: opacity 0.3s;

  svg {
    height: pxrem(24px);
    width: pxrem(24px);
  }

  path {
    fill: currentColor;
  }

  @media (--m) {
    svg {
      height: pxrem(18px);
      width: pxrem(24px);
    }
  }

  @media (--l) {
    svg {
      height: pxrem(24px);
      width: pxrem(24px);
    }
  }
}

.list:has(.link:hover) .link:not(:hover) {
  opacity: 0.6;
}
