.nav {
  color: #02225e;
}

.list {
  display: flex;
  list-style: none;
  column-gap: var(--spacing-3);
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
  transition: opacity 0.3s;

  svg {
    max-height: pxrem(24);
  }

  path {
    fill: currentColor;
  }
}

.list:has(.link:hover) .link:not(:hover) {
  opacity: 0.6;
}
