.button {
  display: inline-block;
  position: relative;
  background: var(--theme-accent);
  color: white;
  border-radius: var(--radius-1);
  padding: var(--spacing-3) var(--spacing-4);
  box-shadow: 0 pxrem(2px) pxrem(4px) 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-family: var(--font-family-inter);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-3);

  &:hover {
    background-color: var(--theme-foreground);
    color: var(--theme-background);
  }

  &:focus {
    background-color: var(--theme-foreground);
    outline: solid pxrem(3px);
    color: var(--theme-background);
  }
}

.buttonSecondary {
  background-color: var(--theme-foreground);
  color: var(--theme-background);

  &:hover {
    background-color: var(--theme-accent);
    color: white;
  }
}

.buttonTertiary {
  background-color: var(--theme-background);
  color: var(--theme-accent);

  &:hover {
    background-color: var(--theme-accent);
    color: var(--theme-background);
  }
}

.buttonOutline {
  background: var(--theme-background);
  border: pxrem(2px) solid var(--theme-foreground);
  color: var(--theme-foreground);

  &:hover {
    background-color: var(--theme-accent);
    color: white;
    border-color: var(--theme-accent);
  }
}
