.button {
  --gradient-1: #0f2a58;
  --gradient-2: #15b5f2;
  --gradient-3: #f097fd;
  --gradient-4: #e70fae;

  display: inline-block;
  position: relative;
  background: var(--theme-primary);
  color: var(--theme-background);
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--radius-1);
  text-decoration: none;

  &:hover,
  &:focus {
    outline: 1px solid var(--theme-background);
    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: '';
      background-image: linear-gradient(
        45deg,
        var(--gradient-1) 0%,
        var(--gradient-2) 25%,
        var(--gradient-3) 50%,
        var(--gradient-4) 100%
      );
      filter: blur(10px);
    }
  }
}

.button--outline {
  background: var(--theme-background);
  border: 1px solid var(--theme-primary);
  color: var(--theme-primary);
}
