.page-title {
	line-height: 1;
	letter-spacing: -0.14rem;
	padding: 10% 0;
}

.page-title__title {
	font-size: clamp(var(--font-size-6), 6vw, var(--font-size-11));
	font-weight: var(--font-weight-bold);
	color: var(--theme-text);
}

.page-title__subtitle {
	font-size: clamp(var(--font-size-6), 6vw, var(--font-size-11));
	font-weight: var(--font-weight-bold);
	color: var(--theme-text-tint);
}
