.wrapper {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.5;
  border-top: pxrem(1px) solid var(--theme-accent-tint-2);
  padding: var(--spacing-7) 0;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: flex;
}

.copyrightText {
}

.logo {
  width: pxrem(24px);
  margin-right: var(--spacing-4);
}

.buildInfo {
  display: flex;
  justify-content: center;
}

.buildInfoText {
  display: inline-block;
  margin-right: var(--spacing-4);
}

.toolsList {
  display: flex;
  list-style: none;

  padding: 0;
  gap: var(--spacing-2);
}

.tool {
  width: pxrem(22px);
}
