.wrapper {
  display: grid;
  grid-template-columns: var(--content-grid-columns);
  padding: var(--spacing-6) 0 var(--spacing-3) 0;

  @media (--l) {
    grid-template-columns: var(--content-grid-columns-large);
    padding: var(--spacing-10) 0 var(--spacing-4) 0;
  }

  > * {
    grid-column: content;
  }
}

.title {
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-5);
  grid-column: content;

  @media (--l) {
    font-size: var(--font-size-8);
    margin-bottom: var(--spacing-7);
  }
}

.coverImage {
  grid-column: wide;
  border-radius: var(--radius-1);
  margin-bottom: var(--spacing-5);

  @media (--l) {
    margin-bottom: var(--spacing-7);
  }

  img {
    border-radius: var(--radius-1);
  }
}

.description {
  font-size: var(--font-size-5);
  color: var(--theme-text-tint);
}

.sidebarBefore {
  @media (--l) {
    grid-column: sidebar-before;
    grid-row: 1 / 1;
  }
}

.sidebarAfter {
  @media (--l) {
    grid-column: sidebar-after;
    grid-row: 1 / 1;
  }
}
