.wrapper {
  /*background: linear-gradient(to bottom, #f4f4f4 0%, var(--theme-background) 20%);*/
  border-top: 1px solid var(--theme-accent-tint-2);
  padding: var(--spacing-7) 0;

  @media (--l) {
    padding: var(--spacing-10) 0;
  }
}

.title {
  font-size: var(--font-size-9);
  color: var(--theme-accent);
  border-bottom: pxrem(1px) solid var(--theme-accent-tint-2);
}

.description {
  color: var(--theme-foreground);
  font-size: var(--font-size-3);
  letter-spacing: -0.05em;
  margin-bottom: var(--spacing-8);

  @media (--m) {
    font-size: var(--font-size-5);
    max-width: 50%;
  }
}
