.blockWrapper {
  margin-bottom: var(--spacing-5);
  grid-column: full;

  @media (--m) {
    grid-column: content;
  }
}

.blockWrapperWide {
  grid-column: full;

  @media (--m) {
    grid-column: wide;
  }
}

.blockWrapperFull {
  grid-column: full;
}
