.button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius-1);
  background-color: var(--theme-accent);
  width: pxrem(50px);
  height: pxrem(50px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-3);

  path {
    fill: var(--theme-background);
  }

  &:hover {
    background-color: var(--theme-foreground);
  }
}

.buttonDisabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.125);

  path {
    fill: rgba(0, 0, 0, 0.125);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.125);
  }
}
