.button {
  border: 0;
  border-radius: var(--radius-1);
  background: none;
  width: pxrem(46px);
  height: pxrem(46px);
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--theme-border);
  }
}

.button--dark {
}

.label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.icon {
  width: pxrem(18px);
  height: pxrem(18px);
  margin: auto;

  & path,
  & circle {
    fill: var(--theme-primary);
  }
}

.icon--dark {
  & path,
  & circle {
    fill: white;
  }
}
