.nav {
  font-size: var(--font-size-4);
}

.list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  letter-spacing: -0.05em;
}

.link {
  text-decoration: none;
  position: relative;
  padding: var(--spacing-1) var(--spacing-3);
  color: var(--theme-background);

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--theme-accent-tint);
  }
}
