.nav {
  font-family: var(--font-family-inter);
}

.list {
  display: block;
  list-style: none;
  padding: 0;
  letter-spacing: -0.05em;

  @media (--m) {
    display: flex;
    gap: var(--spacing-4);
  }
}

.link,
.linkActive {
  text-decoration: none;
  position: relative;
  padding: var(--spacing-1) 0;
  transition: opacity 0.3s;
  font-size: 1.25rem;
}

.linkActive {
  color: var(--theme-accent);
}

.list:has(.link:hover, .linkActive:hover) .link:not(:hover),
.list:has(.link:hover, .linkActive:hover) .linkActive:not(:hover) {
  opacity: 0.6;
}
