.articles {
}

.title {
}

.content {
  background: var(--theme-background-tint);
  padding: var(--spacing-5);
  border-radius: var(--radius-4);

  @media (--m) {
    padding: var(--spacing-7);
  }
}

.articlePrimary {
  height: 100%;
}

.articleSecondary:first-child {
  margin-bottom: var(--spacing-5);
}
