.wrapper {
  display: grid;
  grid-template-columns: var(--content-grid-columns);
  padding: var(--spacing-6) 0;

  @media (--l) {
    grid-template-columns: var(--content-grid-columns-large);
    padding: var(--spacing-10) 0;
  }

  > * {
    grid-column: content;
  }
}

.title {
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-5);
  grid-column: content;

  @media (--l) {
    font-size: var(--font-size-8);
  }
}

.coverImage {
  grid-column: wide;
  border-radius: var(--radius-1);

  img {
    border-radius: var(--radius-1);
  }
}

.description {
  font-size: var(--font-size-5);
  color: var(--theme-text-tint);
}

.sidebarBefore {
  @media (--l) {
    grid-column: sidebar-before;
    grid-row: 1 / 1;
  }
}

.sidebarAfter {
  @media (--l) {
    grid-column: sidebar-after;
    grid-row: 1 / 1;
  }
}

.metaItem {
  display: flex;
  align-items: center;
}

.metaIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: pxrem(25px);
  margin-right: var(--spacing-2);

  path,
  shape {
    stroke: var(--theme-foreground);
  }
}

.metaItemTitle {
  margin-right: var(--spacing-1);

  @media (--l) {
    display: block;
  }
}

.metaItemValue {
  color: var(--theme-text-tint);
}
