.inner {
  background-color: var(--theme-accent);
  color: var(--theme-background-tint);
  padding: var(--spacing-6) 0 var(--spacing-8) 0;

  @media (--m) {
    padding: var(--spacing-7) 0 var(--spacing-8) 0;
  }

  @media (--l) {
    padding: var(--spacing-9) 0;
  }
}

.content {
  text-align: center;
}

.title {
  font-size: clamp(var(--font-size-3), 6vw, var(--font-size-10));
  letter-spacing: -0.07em;

  grid-column: 1 / 5;
  margin-bottom: var(--spacing-5);
}

.description {
  font-size: clamp(var(--font-size-2), 3vw, var(--font-size-6));
  color: var(--theme-text-tint);
  letter-spacing: -0.05em;
  max-width: 80%;
  margin: 0 auto var(--spacing-3) auto;
  color: var(--theme-background-tint);

  @media (--m) {
    max-width: 60%;
  }
}

.meta {
  display: flex;
  gap: var(--spacing-3);
  justify-content: space-between;
  margin-top: var(--spacing-5);

  @media (--m) {
    margin-top: var(--spacing-7);
  }

  @media (--l) {
    margin-top: var(--spacing-9);
  }
}

.metaItem {
  display: flex;
  align-items: center;
  font-size: var(--font-size-1);
}

.metaIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: pxrem(25px);
  margin-right: var(--spacing-2);

  path,
  shape {
    stroke: var(--theme-foreground);
  }
}

.metaItemTitle {
  margin-right: var(--spacing-1);

  @media (--l) {
    display: block;
  }
}

.metaItemValue {
  color: var(--theme-text-tint);
}

.coverImage {
  background-color: var(--theme-foreground);
  border-radius: var(--radius-1);
  margin-top: calc(var(--spacing-7) * -1);

  img {
    border-radius: var(--radius-1);
  }
}
