.embla {
  overflow: hidden;
  --slide-spacing: var(--spacing-6);
  --slide-size: pxrem(400px);
}

.container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  gap: var(--slide-spacing);
}

.slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  gap: var(--slide-spacing);

  &:first-child {
    margin-left: 300px;
  }
}

/**/

.controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
